<div data-controller="assessment-title">
  <%= render AssessmentHeaderComponent.new(assessment: @assessment) %>

  <main class="bg-zinc-50 h-full relative">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-10 pb-16">
      <%= render AssessmentStepperComponent.new(current_step: 'Assessment details', assessment: @assessment) %>

      <div class="mt-10">
        <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Assessment details</h1>
        <div class="mt-6">
          <%= form_with model: @assessment, id: "form-to-submit" do |form| %>
            <div class="grid grid-cols-1 gap-x-8 gap-y-8 max-w-2xl">
              <div>
                <%= render LabelExplainerComponent.new(
                  form: form,
                  name: :title,
                  message: "Enter a clear and concise title for your assessment. This will be visible to candidates.",
                  class: "required-label"
                ) %>
                <div>
                  <%= form.text_field :title, 
                                      required: true, 
                                      class: "primary-field", 
                                      data: { 
                                        assessment_title_target: "input",
                                        action: "input->assessment-title#updateTitle"
                                      } %>
                  <%= render FieldErrorComponent.new(:title, @assessment) %>
                </div>
              </div>

              <div>
                <%= render LabelExplainerComponent.new(
                  form: form,
                  name: :language,
                  message: "This is the language in which your candidates will take your assessment. Any tests you add to this assessment must be in the same language.",
                  class: "required-label"
                ) %>
                <%= form.select :language, 
                      Assessment.languages.map { |k, v| [Assessment.human_enum_name(:language, k), k] },
                      { prompt: t('assessments.form.language_prompt') }, 
                      { required: true, class: "primary-field" } %>
                <%= render FieldErrorComponent.new(:language, @assessment) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= render AssessmentFooterComponent.new(assessment: @assessment, current_step: action_name) %>
  </main>
</div>
