<%= render AssessmentHeaderComponent.new(assessment: @assessment) %>
<main class="bg-zinc-50 h-full relative">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-10 pb-16">
    <%= render AssessmentStepperComponent.new(current_step: :finalize, assessment: @assessment) %>
    <div class="mt-10 reltive">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
        <%= t('.title') %>
      </h1>
      <p class="mt-1 font-medium text-gray-900 text-sm">
        <%= t('.tip') %>
      </p>
      <%= form_with(model: @assessment, url: finish_assessment_path(@assessment), method: :patch, id: "form-to-submit") {} %>
      <div class="mt-9">
        <%= render TestsTableComponent.new(assessment: @assessment, with_title: true) %>
      </div>
      <div class="mt-9 pb-16">
        <%= render CustomQuestionsTableComponent.new(assessment: @assessment, with_title: true) %>
      </div>
    </div>
  </div>
  <%= render AssessmentFooterComponent.new(assessment: @assessment, current_step: action_name) %>
</main>
