<!-- Page heading -->
<div class="bg-white border-b border-zinc-200 py-4">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex gap-x-4 items-center justify-between">
      <%= render AssessmentTitleComponent.new(assessment: @assessment, current_action: action_name, rename: true) %>

      <div class="flex gap-x-3">
        <div class="relative dropdown">
          <button tabindex="0" type="button" class="rounded-full bg-zinc-100 p-2 text-gray-600 shadow-sm hover:bg-zinc-200">
            <%= svg_tag "ellipsis_vertical", class: "size-5" %>
          </button>

          <div tabindex="0" class="dropdown-content absolute right-0 z-10 -mr-1 mt-2 w-40 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
            <div class="py-1" role="none">
              <a href="#" class="sm:hidden group flex items-center gap-x-3 px-4 py-2 text-sm text-gray-700 font-medium" role="menuitem" tabindex="-1" id="menu-item-0">
                <%= svg_tag "eye", class: "size-5 group-hover:text-gray-500", "stroke-width": 2 %>
                Try yourself
              </a>
              <%= link_to share_assessment_path(@assessment), class: 'group flex items-center gap-x-3 px-4 py-2 text-sm text-gray-700 font-medium sm:hidden', data: { turbo_frame: "modal" } do %>
                <%= svg_tag "envelope", class: "size-5 group-hover:text-gray-500", "stroke-width": 2 %>
                Invite
              <% end %>
              <%= link_to edit_assessment_path(@assessment), class: "group flex items-center gap-x-3 px-4 py-2 text-sm text-gray-700 font-medium" do %>
                <%= svg_tag "pencil_square", class: "size-5 group-hover:text-gray-500" %>
                Edit
              <% end %>
              <%= button_to @assessment.archived? ? unarchive_assessment_path(@assessment) : archive_assessment_path(@assessment), method: :patch, class: "group flex items-center gap-x-3 px-4 py-2 text-sm text-gray-700 font-medium" do %>
                <%= svg_tag "archive_box", class: "size-5 group-hover:text-gray-500" %>
                <%= @assessment.archived? ? "Unarchive" : "Archive" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="relative dropdown dropdown-hover hidden sm:block">
          <button tabindex="1" type="button" class="rounded-full bg-zinc-100 p-2 text-gray-600 shadow-sm hover:bg-zinc-200">
           <%= svg_tag "eye", class: "size-5", "stroke-width": 2 %>
          </button>

          <div tabindex="1" class="dropdown-content absolute -right-6 z-10 -mr-1 mt-2 origin-top-right">
            <div class="triangle triangle-t triangle-h-2 triangle-w-4 mx-auto -mb-0.5 text-gray-900"></div>
            <div class="rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-2 px-3 whitespace-nowrap bg-gray-900 text-sm text-white font-medium">Try yourself</div>
          </div>
        </div>

        <%= link_to share_assessment_path(@assessment), class: 'primary-button hidden sm:inline-flex', data: { turbo_frame: "modal" } do %>
          <%= svg_tag "envelope", class: "size-5" %>
          Invite
        <% end %>
      </div>
    </div>
  </div>
</div>

<main class="bg-zinc-50 h-full pb-16 pt-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="border border-gray-200 bg-white rounded-xl">
      <div class="p-5 flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
        <h2 class="text-base font-bold text-black">Candidates</h2>

        <%= form_with url: assessment_path(@assessment), method: :get, data: { controller: "search", search_target: "form" } do |form| %>
          <div class="flex flex-col sm:flex-row items-center gap-y-3 sm:gap-x-5">
            <%= render SearchInputComponent.new(form:, placeholder: "Search candidates") %>

            <select name="status" onchange="this.form.submit()" class="select-field w-full sm:w-60 py-2.5 pl-5 pr-10 rounded-xl">
              <option class="font-medium text-gray-400" value="" selected>Status</option>
              <% AssessmentParticipation.statuses.keys.each do |status| %>
                <% active_option = status == params[:status] %>
                <option class="font-medium <%= 'bg-zinc-200' if active_option %>" value="<%= status %>" <%= 'selected' if active_option %>><%= status.humanize %></option>
              <% end %>
            </select>
          </div>

          <% params.permit(:page, :per_page).to_h.each do |key, value| %>
            <%= form.hidden_field key, value: value %>
          <% end %>
        <% end %>
      </div>

      <div class="flow-root">
        <div class="inline-block min-w-full align-middle">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="border-t border-gray-200">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Avg. % score</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800 hidden md:table-cell">Invited on</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800 hidden md:table-cell">Overall rating</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% if @assessment_participations.empty? %>             
                <tr>
                  <td colspan="6"><%= render NoResultsComponent.new %></td>
                </tr>
              <% else %>
                <% @assessment_participations.each do |assessment_participation| %>  
                  <tr class="hover:bg-blue-50 cursor-pointer" data-controller="clickable-row" data-clickable-row-url-value="/customer/assessments/1/candidates/1" data-action="click->clickable-row#handleClick">
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6 truncate"><%= assessment_participation.participant.name %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">
                      <% avg_score = assessment_participation.avg_score %>
                      <% if avg_score.zero? %>
                        <%= svg_tag "minus" %>
                      <% else %>
                        <p><%= avg_score %> %</p>
                      <% end %>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800"><%= assessment_participation.status.humanize %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden md:table-cell"><%= assessment_participation.created_at.strftime("%b %d, %Y") %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hidden md:table-cell">
                      <div class="flex items-center">
                        <% rating = assessment_participation.rating || 0 %>
                        <% 5.times do |i| %>
                          <%= svg_tag "star", class: "h-5 w-5 flex-shrink-0 #{i < rating ? 'text-yellow-400' : 'text-gray-200'}" %>
                        <% end %>
                      </div>
                    </td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-6">
                      <button type="button" class="text-gray-800">
                        <%= svg_tag "chevron_right", "stroke-width": 2.5, class: "size-3.5" %>
                      </button>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Pagination -->
      <%= render PaginationComponent.new(
        current_page: @current_page,
        total_items: @total_items,
        per_page: @per_page,
        additional_params: { search_query: params[:search_query], status: params[:status] }
      ) %>
    </div>

    <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-6 pb-16">
      <%= render TestsTableComponent.new(assessment: @assessment, with_title: true, with_actions: false) %>

      <%= render CustomQuestionsTableComponent.new(assessment: @assessment, with_title: true, with_actions: false) %>
    </div>
  </div>
</main>