<main class="bg-zinc-50 h-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="py-8">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">My applications</h1>
    </div>
    <div class="pt-2 sm:pt-3 pb-16">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div>
          <% @assessment_participations.each do |assessment_participation| %>
            <%= link_to candidate_assessment_participation_path(assessment_participation), class: "rounded-xl border border-gray-300 bg-white px-6 py-5 shadow-sm flex justify-between items-center" do %>
              <div class="w-full">
                <div class="flex items-center">
                  <h2 class="truncate text-lg font-medium leading-7 text-slate-900">
                    <%= assessment_participation.assessment.title %>
                  </h2>
                  <p class="ml-3 whitespace-nowrap rounded-full px-2 text-xs font-semibold leading-6 <%= status_style(assessment_participation.status)%>">
                    <%= assessment_participation.status.capitalize %>
                  </p>
                </div>

                <div class="mt-6 grid grid-cols-2 gap-4">
                  <div class="flex gap-x-1 items-center col-span-2">
                    <dt class="text-sm font-medium text-gray-500">Company name:</dt>
                    <dd class="text-sm font-medium text-gray-900">
                      <%= assessment_participation.assessment.business.company %>
                    </dd>
                  </div>
                  <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Invited on:</dt>
                    <dd class="text-sm font-medium text-gray-900">
                      <%= human_date(assessment_participation.created_at) %>
                    </dd>
                  </div>
                  <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Last activity:</dt>
                    <dd class="text-sm font-medium text-gray-900">
                      <%= human_date(assessment_participation.updated_at) %>
                    </dd>
                  </div>
                </div>
              </div>
              <%= svg_tag "chevron_right", class: "size-3 -mb-0.5", "stroke-width": 3 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
