<%= render ParticipationHeaderComponent.new(company: @assessment_participation.assessment.business.company) %>
<main class="bg-zinc-50 h-full pt-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
    <div class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
        <div>
          <h1 class="font-extrabold leading-7 text-gray-800 text-2xl">
            <%= t('.greeting', name: @assessment_participation.candidate.name) %>
          </h1>
          <div class="mt-6 text-gray-800 space-y-3 font-medium">
            <% if @assessment_participation.started? %>
              <p>
                <%= t('.completion_status', completed: @assessment_participation.answered_tests.count, total: @assessment_participation.assessment.parts_count) %>
              </p>
              <p><%= t('.get_started_prompt').html_safe %></p>
            <% else %>
              <p><%= t('.welcome_message') %></p>
              <p><%= t('.assessment_value') %></p>
            <% end %>
            <p><%= t('.good_luck') %></p>
          </div>
        </div>
        <div>
          <h1 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">
            <%= t('.before_you_start') %>
          </h1>
          <ul class="mt-6 space-y-3.5 list-disc font-medium text-base ml-7">
            <li>
              <%= t('.assessment_structure', parts: pluralize(@assessment_participation.assessment.parts_count, "part"), duration: format_duration(@assessment_participation.assessment.duration_seconds)).html_safe %>
            </li>
            <li><%= t('.timed_assessment') %></li>
            <li><%= t('.preview_questions').html_safe %></li>
            <li><%= t('.camera_usage') %></li>
            <li><%= t('.calculator_use') %></li>
            <li><%= t('.recommendation') %></li>
          </ul>
        </div>
      </div>
      <div class="mt-12 flex justify-end">
        <%= link_to setup_candidate_assessment_participation_path(@assessment_participation), class: "primary-button gap-x-2.5 px-7 py-3" do %>
          <span><%= t('.get_started') %></span>
          <%= svg_tag "chevron_right", class: "size-3 -mb-0.5", "stroke-width": 3 %>
        <% end %>
      </div>
    </div>
  </div>
</main>
