<%= render AssessmentParticipationHeaderComponent.new(company: @assessment_participation.assessment.business.company) %>
<main class="bg-zinc-50 h-full pt-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
    <div class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
        <div>
          <h1 class="font-extrabold leading-7 text-gray-800 text-2xl pb-2 border-b-2 border-gray-900">Camera setup</h1>
          <p class="my-5 text-gray-800 space-y-3 font-medium">We use camera images to ensure fairness for everyone. Make sure that you are in front of your camera.</p>
          <div class="border-t border-gray-300 pt-5 pr-2">
            <div class="flex justify-between">
              <div>
                <dt class="font-bold text-gray-900 flex items-center gap-x-1.5">
                  <%= svg_tag: "webcam", class: "size-4" %>
                  Camera:
                </dt>
                <dd class="mt-2 text-gray-900 font-medium text-sm">Integrated Webcam (0c45:6730)</dd>
              </div>
              <div class="dropdown dropdown-hover">
                <button type="button" class="rounded-full p-2 text-blue-600 hover:bg-zinc-100">
                  <%= svg_tag: "ellipsis_vertical" %>
                </button>
                <div class="dropdown-content absolute -right-6 z-10 -mr-3.5 mt-2 origin-top-right">
                  <div class="triangle triangle-t triangle-h-2 triangle-w-4 mx-auto -mb-0.5 text-gray-900"></div>
                  <div class="rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-2 px-3 whitespace-nowrap bg-gray-900 text-sm text-white font-medium">Select camera</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-8">
          <%= image_tag "candidate.jpg", class: "rounded-lg aspect-[3/2] object-cover" %>
          <div class="p-6 bg-zinc-100 rounded-lg">
            <h2 class="font-bold text-gray-900 text-lg">Trouble with your webcam?</h2>
            <div class="mt-6 space-y-3 font-medium text-sm">
              <p>Ensure you have granted permission for your browser to access your camera.</p>
              <p>Ensure you are using a <a target="_blank" href="https://candidates.testgorilla.com/hc/en-us/articles/19091812295323-Tools-for-taking-an-assessment" class="underline"><strong>supported browser.</strong></a></p>
              <p>If you have multiple camera devices, ensure you have given your browser and our website permission to use the right device.</p>
              <p>Ensure your camera drivers and web browser are up to date.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-controller="fullscreen" class="mt-12 flex justify-end">
        <button data-action="fullscreen#enterFullscreen" type="button" class="px-7 py-3 primary-button">
          <span>Next</span>
          <%= svg_tag "chevron_right", class: "size-3 -mb-0.5", "stroke-width": 3 %>
        </button>
        <a href="<%= intro_candidate_assessment_participation_path(@assessment_participation)%>" data-fullscreen-target="nextPage" class="hidden"></a>
      </div>
    </div>
  </div>
</main>
