<div data-controller="monitoring"
     data-monitoring-device-value="true"
     data-monitoring-location-value="true"
     data-monitoring-ip-value="true"
     data-monitoring-webcam-value="true"
     data-monitoring-periodic-webcam-capture-value="true"
     data-monitoring-assessment-participation-hash-id-value="<%= @assessment_participation.hashid %>">
  <%= render ParticipationHeaderComponent.new(company: @assessment_participation.assessment.business.company) %>
  <main class="bg-zinc-50 h-full pt-10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
      <div class="border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
          <div>
            <h1 class="font-extrabold leading-7 text-gray-800 text-2xl pb-2 border-b-2 border-gray-900">Camera setup</h1>
            <p class="my-5 text-gray-800 space-y-3 font-medium">We use camera images to ensure fairness for everyone. Make sure that you are in front of your camera.</p>
            <div class="border-t border-gray-300 pt-5 pr-2">
              <div class="flex gap-x-5 gap-y-1.5 flex-wrap justify-between">
                <dt class="font-bold text-gray-900 flex items-center gap-x-1.5">
                  <%= svg_tag "webcam", class: "size-4" %>
                  Camera:
                </dt>
                <dd class="mt-2 text-gray-900 font-medium text-sm">
                  <select data-monitoring-target="cameraSelect" class="select-field pl-5 pr-10 rounded-xl">
                    <option>Loading cameras...</option>
                  </select>
                </dd>
              </div>
            </div>
          </div>
          <div class="space-y-6">
            <video data-monitoring-target="cameraStream" class="rounded-lg aspect-[3/2] object-cover" autoplay playsinline></video>
            <div data-monitoring-target="cameraError" class="hidden p-4 bg-[#fae0b4] rounded-xl flex items-center gap-x-4">
              <div>
                <%= svg_tag "exclamation_triangle", "stroke-width": 2 %>
              </div>
              <p class="font-medium text-sm">
                It seems you don't have a camera or mic connected to your computer or they are blocked. To enable the camera and mic, click on the <strong>camera blocked</strong> icon in your browser's address bar and reload the page. If you don't enable a camera, you can still take the assessment, but then <%= @assessment_participation.assessment.business.company %> cannot verify fair play.
              </p>
            </div>

            <div class="p-6 bg-[#dce8ff] rounded-xl">
              <h2 class="font-bold text-gray-900 text-lg">Trouble with your webcam?</h2>
              <div class="mt-6 space-y-3 font-medium text-sm">
                <p>Ensure you have granted permission for your browser to access your camera.</p>
                <p>Ensure you are using a <a target="_blank" href="https://candidates.testgorilla.com/hc/en-us/articles/19091812295323-Tools-for-taking-an-assessment" class="underline"><strong>supported browser.</strong></a></p>
                <p>If you have multiple camera devices, ensure you have given your browser and our website permission to use the right device.</p>
                <p>Try launching the assessment in incognito mode or in a private window.</p>
                <p>Ensure your camera drivers and web browser are up to date.</p>
                <p>Restart your device and try accessing the assessment again using the link in the invitation email.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 flex justify-end">
          <%= link_to @next_url, class: "px-7 py-3 primary-button gap-x-2.5" do %>
            <span>Next</span>
            <%= svg_tag "chevron_right", class: "size-3 -mb-0.5", "stroke-width": 3 %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
