<div class="bg-white border-b border-zinc-200 py-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row gap-x-4 gap-y-8 sm:items-center sm:justify-between">
      <div class="min-w-0 flex-1 flex items-center gap-x-2">
        <%= link_to candidate_assessment_participations_path, class: "secondary-button p-2.5 mr-4 sm:mr-8 gap-x-2.5" do %>
          <%= svg_tag "chevron_left", class: "size-4", "stroke-width": 2 %>
        <% end %>
        <div>
          <div class="flex items-center flex-wrap gap-3">
            <h2 class="text-xl font-bold leading-7 text-slate-900">
              <%= @assessment_participation.assessment.title %>
            </h2>
            <p class="whitespace-nowrap rounded-full px-2 text-xs font-semibold leading-6 <%= status_style(@assessment_participation.status) %>">
              <%= @assessment_participation.humanized_status %>
            </p>
          </div>
          <div class="mt-4 flex flex-col md:flex-row gap-y-3 md:gap-y-0 md:gap-x-8">
            <div class="flex gap-x-1 items-center col-span-2">
              <dt class="text-sm font-medium text-gray-500"><%= t('.company_name') %>:</dt>
              <dd class="text-sm font-medium text-gray-900">
                <%= @assessment_participation.assessment.business.company %>
              </dd>
            </div>
            <div class="flex gap-x-1 items-center col-span-2 lg:col-span-1">
              <dt class="text-sm font-medium text-gray-500"><%= t('.invited_on') %>:</dt>
              <dd class="text-sm font-medium text-gray-900">
                <%= human_date(@assessment_participation.created_at) %>
              </dd>
            </div>
          </div>
        </div>
      </div>
      <% unless @assessment_participation.completed? %>
        <%= link_to overview_candidate_assessment_participation_path(@assessment_participation), target: "_blank", class: "primary-button px-7 py-3 gap-x-2.5" do %>
          <span><%= @assessment_participation.started? ? t('.resume_assessment') : t('.start_assessment') %></span>
          <%= svg_tag "chevron_right", class: "size-3 -mb-0.5", "stroke-width": 3 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<main class="bg-zinc-50 h-full">
  <% unless @assessment_participation.completed? %>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-10 pb-16 space-y-12">
      <% if @assessment_participation.started? %>
        <div>
          <h2 class="font-bold leading-7 text-gray-900 text-xl"><%= t('.your_progress') %></h2>
          <div class="bg-white py-5 px-6 rounded-xl border mt-3">
            <dl class="grid sm:grid-cols-4 gap-8 gap-y-6">
              <div>
                <dt class="font-bold text-gray-800"><%= t('.tests') %>:</dt>
                <dd class="mt-2 text-gray-800 font-medium text-sm">
                  <%= render(ProgressBarComponent.new(total: @assessment_participation.assessment.parts_count, progress: @assessment_participation.answered_tests.count)) %>
                </dd>
                <dd>
                  <span class="text-gray-800 font-medium text-sm">
                    <%= @assessment_participation.answered_tests.count %> <%= t('.out_of') %> <%= @assessment_participation.assessment.parts_count %>
                  </span>
                </dd>
              </div>
              <div></div>
              <div>
                <dt class="font-bold text-gray-800"><%= t('.time_left') %>:</dt>
                <dd class="mt-2 text-gray-800 font-medium text-sm">
                  <%= render(ProgressBarComponent.new(total: @assessment_participation.assessment.duration_seconds, progress: @participation_service.time_left_overall)) %>
                </dd>
                <dd>
                  <span class="text-gray-800 font-medium text-sm">
                    <%= format_duration(@participation_service.time_left_overall) %>
                  </span>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      <% else %>
        <div>
          <h2 class="font-bold leading-7 text-gray-900 text-xl"><%= t('.about') %></h2>
          <div class="bg-white py-5 px-6 rounded-xl border mt-3">
            <dl class="grid sm:grid-cols-2 gap-x-8 gap-y-6 max-w-3xl">
              <div>
                <dt class="font-bold text-gray-800"><%= t('.tests') %></dt>
                <dd class="mt-2 text-gray-800 font-medium text-sm">
                  <%= @assessment_participation.assessment.parts_count %>
                </dd>
              </div>
              <div>
                <dt class="font-bold text-gray-800"><%= t('.approx_time') %>:</dt>
                <dd class="mt-2 text-gray-800 font-medium text-sm">
                  <%= format_duration(@assessment_participation.assessment.duration_seconds) %>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      <% end %>
      <div>
        <h2 class="font-bold leading-7 text-gray-900 text-xl"><%= @assessment_participation.started? ? t('.before_you_start') : t('.important_things') %></h2>
        <div class="bg-white py-5 pl-12 pr-6 rounded-xl border mt-3">
          <ul class="list-disc font-medium text-sm marker:text-blue-600 marker:text-lg space-y-1.5">
            <li><%= t('.timed_assessment') %></li>
            <li><%= t('.preview_questions').html_safe %></li>
            <li><%= t('.camera_webcam_info') %></li>
            <li><%= t('.audio_info') %></li>
            <li><%= t('.calculator_info') %></li>
            <li><%= t('.completion_recommendation') %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% if @assessment_participation.completed? %>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-10 pb-16">
      <h2 class="font-bold leading-7 text-gray-800 text-xl"><%= t('.tests') %></h2>
      <div class="mt-4 border border-gray-200 bg-white rounded-xl">
        <div class="flow-root">
          <div class="inline-block min-w-full align-middle">
            <table class="min-w-full divide-y divide-gray-200">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6"><%= t('.name') %></th>
                  <th scope="col" class="py-3.5 pl-3 pr-4 sm:pr-6 text-left text-sm font-bold text-gray-800 hidden sm:table-cell"><%= t('.time_taken') %></th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 text-right"><%= t('.score') %></th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <% @assessment_participation.tests.each do |test| %>
                  <tr>
                    <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6"><%= test.title %></td>
                    <% result = @assessment_participation.compute_test_result(test) %>
                    <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800 hidden sm:table-cell"><%= format_duration(result.time_taken) %> <%= t('.out_of') %> <%= format_duration(test.duration_seconds) %></td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-bold text-gray-800 sm:pr-6"><%= result.score_percentage || 0 %>%</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</main>
