<div class="flex items-center justify-center min-h-screen bg-gray-100 px-4 sm:px-6">
  <div class="w-full max-w-md px-10 py-16 bg-white rounded-xl shadow-md">
    <h1 class="text-2xl sm:text-3xl font-bold text-center mb-6 sm:mb-8"><%= @assessment.business.company %></h1>

    <h2 class="text-xl font-semibold mb-4"><%= t('.title') %></h2>

    <p class="text-gray-900 text-sm font-semibold mb-6"><%= t('.introduction') %></p>

    <%= form_with url: invite_me_assessment_path(@assessment), method: :post, local: true, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email, t('.email_label'), class: "required-label" %>
        <%= form.email_field :email, required: true, autocomplete: "email", class: "primary-field" %>
      </div>

      <%= form.submit t('.submit_button'), class: "w-full primary-button py-2.5" %>
    <% end %>
  </div>
</div>
