<header data-controller="toggle" class="bg-white border-b border-zinc-100">
  <nav class="mx-auto flex max-w-7xl items-center justify-between gap-x-5 px-6 py-[18px] lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <%= helpers.svg_tag "assesskit", class: "h-9 sm:h-10 w-auto" %>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-7">
      <%= link_to t('.features'), "#{root_path}#features", class: "rounded-lg py-1 text-gray-900 hover:text-blue-600 font-medium" %>
      <%= link_to t('.pricing'), "#{root_path}#pricing", class: "rounded-lg py-1 text-gray-900 hover:text-blue-600 font-medium" %>
      <%= link_to t('.about_us'), about_path, class: "rounded-lg py-1 text-gray-900 hover:text-blue-600 font-medium" %>
      <%= link_to t('.contact'), contact_path, class: "rounded-lg py-1 text-gray-900 hover:text-blue-600 font-medium" %>
    </div>
    <div class="flex flex-1 items-center justify-end gap-x-3">
      <div class="dropdown hidden lg:inline">
        <button type="button" class="rounded-full hover:bg-zinc-100 p-1.5 text-gray-800">
          <%= helpers.svg_tag "globe_alt", class: "size-5", "stroke-width": 2 %>
        </button>
        <div class="dropdown-content absolute -right-1 z-10 -mr-1 mt-2 border rounded-md">
          <div class="rounded-md p-4 flex flex-col bg-white shadow-lg gap-3">
            <% I18n.available_locales.each do |locale| %>
              <% active_class = I18n.locale == locale ? "text-blue-600 hover:text-blue-500" : "text-gray-700 hover:text-gray-500" %>        
              <%= link_to t("shared.languages.#{locale}"), url_for(locale: locale), class: "text-sm font-semibold #{active_class}" %>
            <% end %>
          </div>
        </div>
      </div>

      <%= link_to t('.log_in'), new_user_session_path, class: "hidden lg:inline secondary-button" %>

      <%= link_to new_business_registration_path, class: "primary-button" do %>
        <span><%= t('.get_started') %></span>
      <% end %>
    </div>
    <div class="flex lg:hidden">
      <button data-action="toggle#toggle" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden lg:hidden" role="dialog" aria-modal="true" data-toggle-target="element">
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between gap-x-6">
        <a href="/" class="-m-1.5 p-1.5">
          <%= helpers.svg_tag "assesskit", class: "h-10 w-auto" %>
        </a>
        <button data-action="toggle#toggle" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="py-6">
            <a href="/#features" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"><%= t('.features') %></a>
            <a href="/#pricing" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"><%= t('.pricing') %></a>
            <a href="/about" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"><%= t('.about_us') %></a>
            <a href="/contact" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"><%= t('.contact') %></a>
          </div>
          <div class="py-6">
            <%= link_to t('.get_started'), new_business_registration_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
            <%= link_to t('.log_in'), new_user_session_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
            <div class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 dropdown">
              <button type="button" class="flex items-center gap-x-1.5">
                <div><%= helpers.svg_tag "globe_alt", class: "size-5", "stroke-width": 2 %></div>
                <span><%= t("shared.languages.#{I18n.locale}") %></span>
              </button>
              <div class="dropdown-content absolute top-9 left-4 z-10 -mr-1 mt-2 border rounded-md">
                <div class="rounded-md p-4 flex flex-col bg-white shadow-lg gap-3">
                  <% I18n.available_locales.each do |locale| %>
                    <% active_class = I18n.locale == locale ? "text-blue-600 hover:text-blue-500" : "text-gray-700 hover:text-gray-500" %>        
                    <%= link_to t("shared.languages.#{locale}"), url_for(locale: locale), class: "text-sm font-semibold #{active_class}" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
