<header>
  <nav class="bg-white border-b border-zinc-200 " data-controller="toggle">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 sm:h-[70px] justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
          <button data-action="toggle#toggle" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <%= link_to secondary_root_path do %>
              <%= helpers.svg_tag "assesskit", class: "h-9 sm:h-10 w-auto" %>
            <% end %>
          </div>
          <div class="hidden md:ml-6 md:flex md:space-x-8">
            <% navbar_links.each do |link| %>
              <%= link_to link[:title], link[:path], class: helpers.navbar_item(link[:path]) %>
            <% end %>
          </div>
        </div>
        <div class="flex items-center md:ml-6 md:pr-0 divide-x divide-slate-900/15 py-4">
          <div class="pr-0 md:pr-6"><%= render LanguageSwitcherComponent.new(guest: false) %></div>
          
          <!-- Account dropdown -->
          <div class="dropdown dropdown-end relative inline-block text-left pl-3">
            <div>
              <button tabindex="navbar-dropdown" type="button" class="hidden md:inline-flex text-gray-900 w-full justify-center gap-x-1.5 rounded-md px-3 text-sm font-semibold" id="menu-button" aria-expanded="true" aria-haspopup="true">
                <span class="-mt-0.5">
                  <%= t('.account')%>
                </span>
                <svg class="-mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
            <div class="dropdown-content absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="px-4 py-3" role="none">
                <p class="text-sm" role="none">Signed in as</p>
                <p class="truncate text-sm font-medium text-gray-900" role="none"><%= helpers.current_user.email %></p>
              </div>
              <div class="py-1" role="none">
                <% dropdown_links.each do |link| %>
                  <%= link_to link[:title], link[:path], class: "block px-4 py-2 text-sm font-medium text-gray-800 hover:bg-zinc-100" %>
                <% end %>
              </div>
              <div class="py-1" role="none">
                <%= link_to t('.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm font-medium text-gray-800 hover:bg-zinc-100" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-toggle-target="element" class="hidden md:hidden" id="mobile-menu">
      <div class="space-y-1 pb-4 pt-2">
        <% mobile_links.each do |link| %>
          <%= link_to link[:title], link[:path], class: helpers.dropdown_item(link[:path]) %>
        <% end %>
        <%= link_to t('.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700" %>
      </div>
    </div>
  </nav>
</header>
