<div class="relative flex min-h-full shrink-0 justify-center md:px-12 lg:px-0">
  <div class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 shadow-2xl sm:justify-center md:flex-none md:px-28">
    <main class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
      <div><a aria-label="Home" href="/"><%= svg_tag "assesskit", class: "h-12 w-auto" %></a>
      </div>
      <h2 class="mt-12 text-2xl font-bold leading-9 tracking-tight text-gray-900">Get started with AssessKit for free</h2>
      <p class="mt-2 text-sm text-gray-700">
        Already registered?
        <%= link_to "Sign in", new_session_path(resource_name), class: "font-medium text-blue-600 hover:underline" %>
        to your account.
      </p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="mt-10 grid grid-cols-1 gap-y-7">
          <div>
            <%= f.label :email, "Email address", class: "required-label" %>
            <%= f.email_field :email, autocomplete: "email", required: true, class: "primary-field" %>
            <%= render FieldErrorComponent.new(:email, resource) %>
          </div>   
          
          <div>
            <%= f.label :password, class: "required-label" %>
            <%= f.password_field :password, autocomplete: "new-password", required: true, class: "primary-field" %>
            <%= render FieldErrorComponent.new(:password, resource) %>
          </div>
          
          <div>
            <%= f.label :password_confirmation, class: "required-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "primary-field" %>
            <%= render FieldErrorComponent.new(:password_confirmation, resource) %>
          </div>

          <div>
            <%= f.submit "Sign up", class: "mt-1 group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600 w-full" %>
          </div>
        </div>
      <% end %>
    </main>
  </div>
  <div class="hidden sm:contents lg:relative lg:block lg:flex-1">
    <%= image_tag "features-bg.jpg", width: "1664", height: "1866", loading: "lazy", decoding: "async", class: "absolute inset-0 h-full w-full object-cover", style: "color:transparent" %>
  </div>
</div>
