<dl class="max-sm:px-4 order-2 lg:order-3 sm:col-span-2 space-y-8 py-7 sm:py-0">
  <div>
    <dt class="font-bold text-gray-800"><%= t('.anti_cheating_monitor') %></dt>
    <dd class="mt-3">
      <div class="space-y-1">
        <%= render AntiCheatingMonitor::ItemComponent.new(icon: "device", label: t('.device_used'), value: device_used) %>
        <%= render AntiCheatingMonitor::ItemComponent.new(icon: "location", label: t('.location'), value: location) %>
      </div>
      <div class="pt-3 pb-2.5">
        <div class="border-t border-gray-300"></div>
      </div>
      <div class="space-y-1.5">
        <%= render AntiCheatingMonitor::ItemComponent.new(icon: "ip", label: t('.ip_address_check'), value: ip_address_check) %>
        <%= render AntiCheatingMonitor::ItemComponent.new(icon: "webcam", label: t('.webcam_enabled'), value: webcam_enabled) %>
        <%= render AntiCheatingMonitor::ItemComponent.new(icon: "fullscreen", label: t('.fullscreen_active'), value: fullscreen_active) %>
        <%= render AntiCheatingMonitor::ItemComponent.new(icon: "mouse", label: t('.mouse_in_window'), value: mouse_in_window) %>
      </div>

      <% if @assessment_participation.completed? && @screenshots.any? %>
        <div class="mt-7" data-controller="screenshot-slider" data-screenshot-slider-screenshots-value="<%= screenshots_json %>">
          <%= image_tag @screenshots.first.image, class: "rounded-lg w-full h-full object-cover", data: { screenshot_slider_target: "image" } %>
          <div class="relative h-0.5 bg-gray-300 mt-5 mx-1.5" 
              data-screenshot-slider-target="sliderContainer"
              data-action="click->screenshot-slider#handleBarClick">
            <div class="absolute left-0 top-0 h-full bg-blue-600" data-screenshot-slider-target="progress"></div>
            <input type="range" min="0" max="<%= @screenshots.count - 1 %>" value="0"
                  class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer"
                  data-screenshot-slider-target="slider"
                  data-action="input->screenshot-slider#updateScreenshot">
            <div class="absolute top-1/2 -translate-y-1/2 cursor-pointer" 
                data-screenshot-slider-target="handle"
                data-action="mousedown->screenshot-slider#startDragging touchstart->screenshot-slider#startDragging">
              <div class="w-4 h-4 bg-blue-600 rounded-full shadow-md"></div>
            </div>
          </div>
        </div>
      <% end %>
    </dd>
  </div>
</dl>