<nav aria-label="Progress">
  <ol role="list" class="divide-y divide-gray-300 rounded-xl md:rounded-full border border-gray-300 md:flex md:divide-y-0">
    <% steps.each_with_index do |step, index| %>
      <li class="relative md:flex md:flex-1">
        <%= link_to step[:path], class: "group flex w-full items-center #{'pointer-events-none' unless step_linkable?(index)}" do %>
          <span class="flex items-center px-6 py-4 text-sm font-medium">
            <% case step_status(index) %>
            <% when :completed %>
              <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-blue-600 group-hover:bg-blue-800">
                <%= helpers.svg_tag "check", class: "h-6 w-6 text-white" %>
              </span>
              <span class="ml-4 text-sm font-medium text-gray-900"><%= t('.completed', default: step[:name]) %></span>
            <% when :current %>
              <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-blue-600">
                <span class="text-blue-600"><%= index + 1 %></span>
              </span>
              <span class="ml-4 text-sm font-medium text-blue-600"><%= t('.current', default: step[:name]) %></span>
            <% when :upcoming %>
              <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                <span class="text-gray-500 group-hover:text-gray-900"><%= index + 1 %></span>
              </span>
              <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900"><%= t('.upcoming', default: step[:name]) %></span>
            <% end %>
          </span>
        <% end %>
        <% if index < steps.length - 1 %>
          <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
            <%= helpers.svg_tag "divider", class: "h-full w-full text-gray-300" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>