<div class="fixed bottom-0 w-full z-20">
  <div class="px-6 py-4 border-t border-zinc-200 flex <%= show_back_button? ? 'justify-between' : 'justify-end' %> bg-white">
    <% if show_back_button? %>
      <%= link_to back_link, class: "secondary-button px-5 py-3 gap-x-2.5" do %>
        <%= helpers.svg_tag "chevron_left", class: "size-3 -mb-0.5", "stroke-width": 3 %>
        Back
      <% end %>
    <% end %>
    <button type="button" class="primary-button px-5 py-3 gap-x-2.5" data-controller="form-submit" data-action="form-submit#submitForm">
      <%= next_button_text %>
      <%= helpers.svg_tag "chevron_right", class: "size-3 -mb-0.5", "stroke-width": 3 %>
    </button>
  </div>
</div>