<div class="bg-white border-b border-zinc-200 py-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex gap-x-4 items-center justify-between">
      <div class="min-w-0 flex-1 flex items-center gap-x-2">
        <%= link_to @back_path, class: "secondary-button p-2.5 mr-4 sm:mr-8" do %>
          <%= helpers.svg_tag "chevron_left", class: "size-4", "stroke-width": 3 %>
        <% end %>

        <div class="flex items-center space-x-3.5">
          <div class="flex-shrink-0">
            <div class="relative">
              <%= render AvatarComponent.new(avatarable: avatarable, variant: :medium, classes: "size-12 rounded-full") %>
              <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
            </div>
          </div>
          <div>
            <h1 class="text-xl font-bold text-gray-900"><%= entity_name %></h1>
            <p class="font-semibold text-sm text-gray-700"><%= entity_email %></p>
          </div>
        </div>
      </div>

      <% if @show_navigation %>
        <div class="flex gap-x-2 items-center">
          <%= link_to @prev_path, class: "text-gray-800 hover:bg-gray-200 hover:rounded-full p-1.5 #{@prev_path ? '' : 'pointer-events-none opacity-40'}" do %>
            <%= helpers.svg_tag "chevron_left", class: "size-5", "stroke-width": 3 %>
          <% end %>
          <p class="text-gray-400 font-semibold text-sm mb-0.5"><%= @current_index %>/<%= @total_count %></p>
          <%= link_to @next_path, class: "text-gray-800 hover:bg-gray-200 hover:rounded-full p-1.5 #{@next_path ? '' : 'pointer-events-none opacity-40'}" do %>
            <%= helpers.svg_tag "chevron_right", class: "size-5", "stroke-width": 3 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
