<div class="py-8">
  <div class="flex justify-center">
    <%= helpers.svg_tag "mystery_box", class: "size-auto" %>
  </div>
  <p class="mt-5 font-bold text-black text-base text-center leading-tight"><%= @title %></p>
  <% if @message %>
    <div class="mt-3 text-center">
      <% if @linkeable %>
        <a class="text-blue-600 text-sm font-semibold hover:underline" href="mailto:contact@assesskit.com?subject=<%= @message %>"><%= @message %></a>
      <% else %>
        <p class="text-black text-sm font-semibold"><%= @message %></p>
      <% end %>
    </div>
  <% end %>
</div>