<%= form_with(url: @save_path, class: "border border-gray-200 bg-white rounded-xl px-6 py-10 md:px-12 md:py-16", data: { question_answer_target: "form" }) do |form| %>
  <%= form.hidden_field :question_id, value: @question.id %>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-9">
    <!-- Question Content -->
    <div>
      <h2 class="mb-6 font-bold leading-7 text-gray-800 text-xl tracking-tight"><%= Question.model_name.human %></h2>
      <div class="text-sm md:text-base font-medium text-gray-800">
        <%= @question.content %>
      </div>
    </div>
    <!-- Answer Options -->
    <div>
      <% if @test %>
        <h2 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">
          <%= @question.is_a?(MultipleChoiceQuestion) ? t('.select_one_answer') : t('.select_all_apply') %>
        </h2>
        <div class="mt-6 space-y-5">
          <% if @question.is_a?(MultipleChoiceQuestion) || @question.is_a?(MultipleResponseQuestion) %>
            <% @question.randomized_options.each.with_index(1) do |option, i| %>
              <label for="option-<%= i %>" class="flex items-center border border-gray-300 rounded-md p-4 cursor-pointer options hover:bg-blue-50 transition-colors duration-200">
                <input 
                  id="option-<%= i %>" 
                  name="selected_options[]" 
                  type="<%= @question.is_a?(MultipleChoiceQuestion) ? "radio" : "checkbox" %>" 
                  value="<%= option.id %>"
                  class="size-7 border-gray-300 text-blue-600 focus:ring-blue-200 focus:ring-offset-2 focus:ring-2 item">
                <span class="ml-5 block text-sm md:text-base font-semibold text-gray-800"><%= option.content %></span>
              </label>
            <% end %>
          <% end %>
        </div>
      <% elsif @question.is_a?(CustomQuestion) %>
        <% if @question.is_a?(FileUploadCustomQuestion) %>
          <label class="block font-bold leading-7 text-gray-800 text-xl tracking-tight pb-4"><%= CustomQuestion.human_attribute_name(:file_upload) %></label>
          <div class="mt-2" data-controller="file-selector">
            <label class="block w-full text-sm text-gray-900 border-gray-300 rounded-md cursor-pointer border p-8">
              <%= form.file_field :file_upload, class: "hidden", accept: '.csv, .xls, .xlsx, .doc, .txt, .ppt, .pptx, .odp, .key, .pdf, .png, .jpg, .psd, .bmp, .gif', data: { action: 'change->file-selector#updateFileName', file_selector_target: 'input' } %>
              <div class="text-center w-full">
                <%= helpers.svg_tag "arrow_up_tray", class: "mx-auto size-6 text-gray-800", "stroke-width": 2.5 %>
                <div class="mt-4 text-sm leading-6 text-gray-700 font-medium gap-y-3 gap-x-1">
                  <p><%= t('.drag_drop_or_click') %></p>
                  <p data-file-selector-target="filename"><%= t('.max_file_size') %></p>
                </div>
              </div>
            </label>
            <div class="mt-4 text-sm leading-6 text-gray-700 font-medium gap-y-3 gap-x-1" data-file-selector-target="supportedTypes">
              <p><strong><%= t('.supported_file_types') %>:</strong> <span>.csv, .xls, .xlsx, .doc, .txt, .ppt, .pptx, .odp, .key, .pdf, .png, .jpg, .psd, .bmp, .gif</span></p>
            </div>
          </div>
        <% elsif @question.is_a?(EssayCustomQuestion) %>
          <label class="block font-bold leading-7 text-gray-800 text-xl tracking-tight pb-4"><%= CustomQuestion.human_attribute_name(:essay_content) %></label>
          <div class="mt-2">
            <%= helpers.rich_text_area_tag :essay_content, nil, rows: 5, attachments: false, placeholder: CustomQuestion.human_placeholder(:essay_content) %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= form.submit class: "hidden", data: { question_answer_target: "formSubmit" } %>
  </div>
<% end %>

<% unless (!@question.is_a?(CustomQuestion) && @question.preview) %>
  <dialog data-question-answer-target="modal" class="modal px-6">
    <div class="modal-box max-w-xl rounded-xl p-8 bg-white">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-6 top-6">
          <%= helpers.svg_tag "x_mark", "stroke-width": 2 %>
        </button>
      </form>
      <div>
        <h1 class="font-bold leading-7 text-gray-800 text-xl"><%= t('.skip_question_title') %></h1>
        <p class="mt-4 text-gray-800 text-sm font-semibold"><%= t('.skip_question_message') %></p>
        <div class="mt-9 flex items-center justify-end gap-x-4">
          <button type="button" class="secondary-button px-6 py-2.5" data-action="click->question-answer#skip"><%= t('.skip_question_button') %></button>
          <button type="button" class="primary-button px-6 py-2.5" data-action="click->question-answer#close"><%= t('.choose_answer_button') %></button>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button><%= t('.close') %></button>
    </form>
  </dialog>
<% end %>