<div class="grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-4">
  <!-- Filters -->
  <%= render FilterComponent.new(clear_path: @clear_path, assessment: @assessment, library: @library, business: @business) %>

  <div class="lg:col-span-3">
    <%= tag.turbo_frame id: "filter_section" do %>
      <p class="text-base text-gray-700 font-bold">
        <% if filters_applied? %>
          <%= t('.results_count', count: @tests.count) %>
        <% else %>
          <%= t('.tests_available', count: @tests.count) %>
        <% end %>
      </p>

      <div class="mt-3 pb-16">
        <% if @tests.empty? %>
          <div class="pt-12">
            <%= render NoResultsComponent.new(message: t('.suggest_new_test'), linkeable: true) %>
          </div>
        <% else %>
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <% @tests.each do |test| %>
              <%= render TestCardComponent.new(test: test, assessment: @assessment) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>