<div id="tests_table" class="border border-gray-200 bg-white rounded-xl">
  <% if @with_title %>
    <div class="p-5">
      <h2 class="text-base font-bold text-black">Selected tests</h2>
    </div>
  <% end %>
  <div class="flow-root">
    <div class="inline-block min-w-full align-middle">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="<%= 'border-t border-gray-200' if @with_title %>">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">Test</th>
            <th scope="col" class="py-3.5 pl-3 pr-4 sm:pr-6 text-left text-sm font-bold text-gray-800">Duration</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% if @tests.empty? %>
            <tr>
              <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">
                <p>Add Add tests to evaluate your candidates.</p>
              </td> 
            </tr>
          <% else %>
            <% @tests.each_with_index  do |test, index| %>
              <tr>
                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6"><p><%= test.title %></p></td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6 text-sm font-medium text-gray-800">
                  <div class="flex gap-x-2 items-center text-gray-900">
                    <%= helpers.svg_tag "clock", class: "size-4" %>

                    <p class="text-sm font-semibold">5 mins</p>
                  </div>
                </td>
                <td class="py-4 pl-3 pr-4 text-right text-sm sm:pr-6">
                  <% assessment_test = @assessment.assessment_tests.find_by(test: test) %>
                  <div class="flex justify-end items-center gap-x-1.5 max-md:flex-wrap">
                    <%= render_position_button(test, :up, index) %>
                    <%= render_position_button(test, :down, index) %>

                    <div class="dropdown dropdown-hover">
                      <%= button_to assessment_test_assessment_test_path(@assessment, test, assessment_test),
                                    method: :delete,
                                    class: "rounded-full p-2 text-slate-900 hover:bg-zinc-200",
                                    params: { with_title: @with_title } do %>
                        <%= helpers.svg_tag "x_mark", class: "size-4", "stroke-width": 3 %>
                      <% end %>

                      <div class="dropdown-content absolute -right-3 z-10 -mr-1.5 mt-2 origin-top-right">
                        <div class="triangle triangle-t triangle-h-2 triangle-w-4 ml-auto mr-6 -mb-0.5 text-gray-900"></div>
                        <div class="rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-2 px-3 whitespace-nowrap bg-gray-900 text-sm text-white font-medium">Remove test</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>