<dialog id="my_modal_<%= id %>" class="modal px-6">
  <div class="modal-box max-w-4xl rounded-xl pt-10 pb-8 px-8 bg-white relative h-full">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-8 top-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </form>

    <h1 class="font-bold leading-7 text-gray-800 text-xl tracking-tight">Invite candidates</h1>
    <div data-controller="slider" data-slider-first-slide-value=<%= first_slide %> data-slider-slide-count-value="3" class="mt-8 sm:mt-10">
      <div id="slide-<%= first_slide %>">
        <div class="border-b border-gray-300">
          <nav class="-mb-px flex overflow-x-auto" aria-label="Tabs">
            <button data-slider-clicked-slide-param="<%= first_slide %>" data-action="slider#active" type="button" class="bg-blue-50 whitespace-nowrap border-b-2 border-blue-500 px-4 py-4 text-sm font-bold text-gray-900" aria-current="page">Share link</button>
            <button data-slider-clicked-slide-param="<%= first_slide + 1 %>" data-action="slider#active" type="button" class="whitespace-nowrap border-b border-transparent px-4 py-4 text-sm font-medium text-gray-900 hover:border-gray-300 hover:bg-gray-50">Invite by email</button>
            <button data-slider-clicked-slide-param="<%= first_slide + 2 %>" data-action="slider#active" type="button" class="whitespace-nowrap border-b border-transparent px-4 py-4 text-sm font-medium text-gray-900 hover:border-gray-300 hover:bg-gray-50">Invite in bulk</button>
          </nav>
        </div>

        <p class="mt-5 text-gray-800 font-medium text-sm">Invite candidates by sharing a public link. This link will direct them to the assessment and capture their name and email for tracking purposes.</p>

        <div class="mt-6 px-6 py-4 bg-zinc-50 rounded-lg w-full">
          <div class="flex gap-x-2">
            <h3 class="text-gray-900 font-bold text-sm">Active source</h3>
            <label class="swap">
              <input type="checkbox" checked class="hidden" />
              <div class="swap-on">
                <div class="relative inline-flex h-5 w-9 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-blue-600 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" role="switch" aria-checked="false">
                  <span class="pointer-events-none relative inline-block h-4 w-4 translate-x-4 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out">
                    <span class="absolute inset-0 flex h-full w-full items-center justify-center opacity-0 transition-opacity duration-100 ease-out" aria-hidden="true">
                      <svg class="h-3 w-3 text-gray-400" fill="none" viewBox="0 0 12 12">
                        <path d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                    <span class="absolute inset-0 flex h-full w-full items-center justify-center opacity-100 transition-opacity duration-200 ease-in" aria-hidden="true">
                      <svg class="h-3 w-3 text-blue-600" fill="currentColor" viewBox="0 0 12 12">
                        <path d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z" />
                      </svg>
                    </span>
                  </span>
                </div>
              </div>
              <div class="swap-off">
                <div class="relative inline-flex h-5 w-9 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" role="switch" aria-checked="false">
                  <span aria-hidden="true" class="pointer-events-none inline-block h-4 w-4 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
                </div>
              </div>
            </label>
          </div>
          
          <div class="mt-5 flex gap-x-3 sm:gap-x-5 items-center">
            <div class="relative w-full max-w-sm">
              <label for="url" class="absolute -top-2.5 left-3 inline-block bg-zinc-50 px-1 text-xs font-medium text-gray-400">URL</label>
              <input type="text" name="url" id="url" disabled class="block w-full rounded-lg border-0 py-2.5 px-4 text-gray-900 font-semibold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" placeholder="https://www.proctor.com/s/t7u07yt4">
            </div>

            <div>
              <button type="button" class="hidden whitespace-nowrap sm:inline-flex gap-x-2 items-center ring-1 rounded-full py-2 px-5 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
                <svg class="size-4" width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M3 19.0465V17.0465H5V19.0465H3ZM3 15.5465V13.5465H5V15.5465H3ZM3 12.0465V10.0465H5V12.0465H3ZM6.5 22.5465V20.5465H8.5V22.5465H6.5ZM7 18.5465V2.54651H20V18.5465H7ZM9 16.5465H18V4.54651H9V16.5465ZM10 22.5465V20.5465H12V22.5465H10ZM3 22.5465V20.5465H5V22.5465H3ZM13.5 22.5465V20.5465H15.5V22.5465H13.5ZM3 8.54651V6.54651H5V8.54651H3Z" fill="currentColor"></path>
                </svg>
                <span>Copy link</span>
              </button>
              <button type="button" class="-mr-3 sm:hidden text-gray-900 p-2 hover:rounded-full hover:bg-gray-200 hover:shadow-sm">
                <svg class="size-5 sm:size-6" width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M3 19.0465V17.0465H5V19.0465H3ZM3 15.5465V13.5465H5V15.5465H3ZM3 12.0465V10.0465H5V12.0465H3ZM6.5 22.5465V20.5465H8.5V22.5465H6.5ZM7 18.5465V2.54651H20V18.5465H7ZM9 16.5465H18V4.54651H9V16.5465ZM10 22.5465V20.5465H12V22.5465H10ZM3 22.5465V20.5465H5V22.5465H3ZM13.5 22.5465V20.5465H15.5V22.5465H13.5ZM3 8.54651V6.54651H5V8.54651H3Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>
          </div>

          <div class="mt-7">
            <h3 class="text-gray-900 font-bold text-sm">Copy and add this text to your invitation:</h3>
            <div class="mt-3 flex gap-x-1.5 items-end -mr-3 ">
              <div class="overflow-x-auto">
                <div class="border border-gray-200 p-4 rounded-lg bg-white text-gray-900 font-medium text-sm">
                  <p>We want to ensure that everyone has a fair and equal chance, so we're using a Proctor assessment (<span class="text-blue-600 underline">https://www.proctor.com</span>). This helps maintain fairness and integrity in our process.</p>
                  <p class="mt-5">Ready to get started? Click the link below:</p>
                  <p class="text-blue-600 underline break-words	mt-1">https://www.proctor.com/s/t7u07yt4</p>
                </div>
              </div>
              <button type="button" class="text-gray-900 p-2 hover:rounded-full hover:bg-gray-200 hover:shadow-sm">
                <svg class="size-5 sm:size-6" width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path d="M3 19.0465V17.0465H5V19.0465H3ZM3 15.5465V13.5465H5V15.5465H3ZM3 12.0465V10.0465H5V12.0465H3ZM6.5 22.5465V20.5465H8.5V22.5465H6.5ZM7 18.5465V2.54651H20V18.5465H7ZM9 16.5465H18V4.54651H9V16.5465ZM10 22.5465V20.5465H12V22.5465H10ZM3 22.5465V20.5465H5V22.5465H3ZM13.5 22.5465V20.5465H15.5V22.5465H13.5ZM3 8.54651V6.54651H5V8.54651H3Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="slide-<%= first_slide + 1 %>" class="hidden">
        <div class="border-b border-gray-300">
          <nav class="-mb-px flex overflow-x-auto" aria-label="Tabs">
            <button data-slider-clicked-slide-param="<%= first_slide %>" data-action="slider#active" type="button" class="whitespace-nowrap border-b border-transparent px-4 py-4 text-sm font-medium text-gray-900 hover:border-gray-300 hover:bg-gray-50">Share link</button>
            <button data-slider-clicked-slide-param="<%= first_slide + 1 %>" data-action="slider#active" type="button" class="bg-blue-50 whitespace-nowrap border-b-2 border-blue-500 px-4 py-4 text-sm font-bold text-gray-900" aria-current="page">Invite by email</button>
            <button data-slider-clicked-slide-param="<%= first_slide + 2 %>" data-action="slider#active" type="button" class="whitespace-nowrap border-b border-transparent px-4 py-4 text-sm font-medium text-gray-900 hover:border-gray-300 hover:bg-gray-50">Invite in bulk</button>
          </nav>
        </div>

        <p class="mt-5 text-gray-800 font-medium text-sm">Send an invitation email to candidates.</p>

        <div class="mt-4 border border-gray-200 bg-white rounded-xl">
          <div class="flow-root overflow-x-auto">
            <div class="inline-block min-w-full align-middle">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-zinc-50">
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-800 sm:pl-6">First name</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Last name</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-bold text-gray-800">Email</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                      <span class="sr-only">Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6 hover:bg-gray-50">James</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hover:bg-gray-50">Clear</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800 hover:bg-gray-50 truncate">james-clear@example.com</td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-6 hover:bg-gray-50">
                      <button type="button" class="text-gray-800 hover:bg-white hover:rounded-full p-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </td>
                  </tr>

                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 sm:pl-6">
                      <input name="first-name" class="block w-full min-w-40 font-medium rounded-lg border-0 py-2.5 px-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" placeholder="First name">
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">
                      <input name="first-name" class="block w-full min-w-40 font-medium rounded-lg border-0 py-2.5 px-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" placeholder="Last name">
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-800">
                      <input name="first-name" class="block w-full min-w-40 font-medium rounded-lg border-0 py-2.5 px-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" placeholder="Email">
                    </td>
                    <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-6">
                      <button type="button" class="whitespace-nowrap inline-flex gap-x-2 items-center ring-1 rounded-full py-1.5 px-3.5 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <span>Add</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="mt-12 lg:mt-20 flex justify-end">
          <button type="submit" class="rounded-full bg-blue-600 px-6 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Invite candidate</button>
        </div>
      </div>

      <div id="slide-<%= first_slide +2 %>" class="hidden">
        <div class="border-b border-gray-300">
          <nav class="-mb-px flex overflow-x-auto" aria-label="Tabs">
            <button data-slider-clicked-slide-param="<%= first_slide %>" data-action="slider#active" type="button" class="whitespace-nowrap border-b border-transparent px-4 py-4 text-sm font-medium text-gray-900 hover:border-gray-300 hover:bg-gray-50">Share link</button>
            <button data-slider-clicked-slide-param="<%= first_slide + 1 %>" data-action="slider#active" type="button" class="whitespace-nowrap border-b border-transparent px-4 py-4 text-sm font-medium text-gray-900 hover:border-gray-300 hover:bg-gray-50">Invite by email</button>
            <button data-slider-clicked-slide-param="<%= first_slide + 2 %>" data-action="slider#active" type="button" class="bg-blue-50 whitespace-nowrap border-b-2 border-blue-500 px-4 py-4 text-sm font-bold text-gray-900" aria-current="page">Invite in bulk</button>
          </nav>
        </div>

        <p class="mt-5 text-gray-800 font-medium text-sm">Invite multiple candidates at once through a CSV or XLSX file upload.</p>

        <div class="mt-5 grid grid-cols-1 lg:grid-cols-10 max-lg:gap-y-8 lg:gap-x-4">
          <div class="col-span-6 px-6 py-4 bg-zinc-100 rounded-lg w-full">
            <h3 class="text-gray-900 font-bold text-sm">Keep in mind...</h3>
            <div class="mt-3 text-gray-800 font-medium text-sm">
              <p>Make sure you use three columns in your file in the following order:</p>
              <p>First name, Last name, Email. You can only add 1200 candidates per file.</p>
            </div>

            <div class="mt-3 bg-white p-2 rounded-md">
              <h4 class="text-gray-900 font-bold text-sm">Example</h4>
              <%= image_tag "bulk_invite.png", class: "mt-3" %>
            </div>

            <div class="mt-6 flex flex-col gap-y-3">
              <p class="text-gray-800 font-medium text-sm">You can download one of these templates:</p>
              
              <div class="flex gap-x-2.5 items-center">
                <button type="button" class="whitespace-nowrap inline-flex gap-x-2 items-center ring-1 rounded-full py-1.5 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                  </svg>
                  <span>CSV</span>
                </button>

                <button type="button" class="whitespace-nowrap inline-flex gap-x-2 items-center ring-1 rounded-full py-1.5 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                  </svg>
                  <span>XLSX</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-span-4">
            <form class="flex justify-center rounded-lg border border-dashed border-gray-800 px-6 py-10">
              <div class="text-center">
                <svg class="mx-auto size-6 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                </svg>

                <div class="mt-4 flex text-sm leading-6 text-gray-700 font-medium gap-y-3 gap-x-1 flex-wrap justify-center">
                  <p>Drag and drop file here or</p>
                  <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-blue-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-600 focus-within:ring-offset-2 hover:text-blue-500">
                    <span>click to upload</span>
                    <input id="file-upload" name="file-upload" type="file" class="sr-only">
                  </label>
                  <p>10MB max file size.</p>
                </div>
              </div>
            </form>

            <div class="mt-2 text-gray-800 font-medium text-xs"><strong>Supported file types:</strong> .csv,.xls,.xlsx</div>
          </div>
        </div>

        <div class="mt-8 lg:mt-12 flex justify-end">
          <button class="font-medium text-zinc-500 bg-zinc-100 py-3 px-5 rounded-full text-sm">Invite candidate</button>
        </div>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
