<div class="relative flex min-h-full shrink-0 justify-center md:px-12 lg:px-0">
  <div class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 shadow-2xl sm:justify-center md:flex-none md:px-28">
    <div class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
      <a aria-label="Home" href="/"><%= svg_tag "assesskit", class: "h-12 w-auto" %></a>
      <h2 class="mt-9 text-2xl font-bold leading-9 tracking-tight text-gray-900">Forgot your password?</h2>
  
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="mt-7 grid grid-cols-1 gap-y-7">
          <div>
            <%= f.label :email, "Email address", class: "required-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "primary-field" %>
          </div>

          <div>
            <%= f.submit "Send reset link", class: "mt-1 primary-button w-full" %>
          </div>
        </div>
      <% end %>


      <div class="mt-7 text-xs font-medium text-gray-600 space-y-2">
        <p>Log in to your account (<%= link_to "Business", new_business_session_path, class: "font-semibold text-blue-600 hover:underline" %> or <%= link_to "Candidate", new_candidate_session_path, class: "font-semibold text-blue-600 hover:underline" %>)
        <p>Didn't receive confirmation instructions? <%= link_to "Click here", new_confirmation_path(resource_name) , class: "font-semi-bold text-blue-600 hover:underline" %></p>
      </div>
    </div>
  </div>
  <div class="hidden sm:contents lg:relative lg:block lg:flex-1">
    <%= image_tag "features-bg.jpg", width: "1664", height: "1866", loading: "lazy", decoding: "async", class: "absolute inset-0 h-full w-full object-cover", style: "color:transparent" %>
  </div>
</div>
