<% if resource.candidate&.errors[:not_invited].any? %>
  <%= render NotificationComponent.new(notice:, alert: resource.candidate.errors[:not_invited].first) %>
<% end %>
<div class="relative flex min-h-full shrink-0 justify-center md:px-12 lg:px-0">
  <div class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 shadow-2xl sm:justify-center md:flex-none md:px-24">
    <div class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
      <div class="w-fit"><a aria-label="Home" href="/"><%= svg_tag "assesskit", class: "h-12 w-auto" %></a></div>
      <h2 class="mt-12 text-2xl font-bold leading-8 tracking-tight text-gray-900"><%= t(".create_profile") %></h2>
      <p class="mt-2 text-sm text-gray-700"><%= t(".enter_email") %></p>
      <%= form_for(resource, as: resource_name, url: candidate_registration_path) do |f| %>
        <div class="mt-8 grid grid-cols-1 gap-y-7">
          <div>
            <%= f.label :email, t(".email_address"), class: "required-label" %>
            <%= f.email_field :email, value: params[:email_address], autocomplete: "email", class: "primary-field", disabled: params[:email_address].present? %>
            <%= render FieldErrorComponent.new(:email, resource) %>
          </div>

          <div>
            <%= f.label :password, t(".password"), class: "required-label" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "primary-field" %>
            <%= render FieldErrorComponent.new(:password, resource) %>
          </div>

          <%= f.fields_for :candidate_attributes do |c| %>
            <div>
              <%= c.label :name, t(".your_name"), class: "required-label" %>
              <%= c.text_field :name, autocomplete: "name", class: "primary-field" %>
              <%= render FieldErrorComponent.new(:name, resource.candidate) %>
            </div>
          <% end %>

          <div>
            <%= f.submit t(".sign_up"), class: "mt-1 primary-button w-full" %>
          </div>
        </div>
      <% end %>

      <div class="mt-7 text-xs font-medium text-gray-600 space-y-2">
        <p><%= t(".already_have_account") %> <%= link_to t(".login"), new_user_session_path, class: "font-semibold text-blue-600 hover:underline" %>
        <p><%= t(".are_you_business") %> <%= link_to t(".take_me"), new_business_registration_path , class: "font-semi-bold text-blue-600 hover:underline" %></p>
      </div>
    </div>
  </div>
  <div class="hidden sm:contents lg:relative lg:block lg:flex-1">
    <%= image_tag "features-bg.jpg", width: "1664", height: "1866", loading: "lazy", decoding: "async", class: "absolute inset-0 h-full w-full object-cover", style: "color:transparent" %>
  </div>
</div>
