<main class="bg-zinc-50 h-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="py-12">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= t('.title') %></h1>
    </div>

    <div class="pb-16">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <div class="group relative bg-white p-6 rounded-xl border border-gray-300">
          <div>
            <span class="inline-flex rounded-lg bg-blue-50 p-3 text-blue-600 ring-4 ring-white">
              <%= svg_tag "briefcase", class: "size-6", "stroke-width": 2 %>
            </span>
          </div>
          <div class="mt-7">
            <h3 class="text-lg font-bold leading-6 text-gray-900">
              <%= link_to new_business_path  do %>
                <span class="absolute inset-0" aria-hidden="true"></span>
                <%= t('.business.link_text') %>
              <% end %>
            </h3>
            <p class="mt-3.5 text-sm text-gray-500 font-medium"><%= t('.business.description') %></p>
          </div>
          <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
            <%= svg_tag "arrow_right", class: "size-6", "stroke-width": 2.5 %>
          </span>
        </div>
        <div class="group relative bg-white p-6 rounded-xl border border-gray-300">
          <div>
            <span class="inline-flex rounded-lg bg-blue-50 p-3 text-blue-600 ring-4 ring-white">
              <%= svg_tag "user", class: "size-6", "stroke-width": 2.5 %>
            </span>
          </div>
          <div class="mt-7">
            <h3 class="text-lg font-bold leading-6 text-gray-900">
              <%= link_to new_candidate_path do %>
                <span class="absolute inset-0" aria-hidden="true"></span>
                <%= t('.candidate.link_text') %>
              <% end %>
            </h3>
            <p class="mt-3.5 text-sm text-gray-500 font-medium"><%= t('.candidate.description') %></p>
          </div>
          <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
            <%= svg_tag "arrow_right", class: "size-6", "stroke-width": 2 %>
          </span>
        </div>
      </div>
    </div>
  </div>
</main>
