<main class="bg-zinc-50 h-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="pt-8 flex items-center justify-between gap-x-4">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Tests</h1>
  
      <div>
        <a href="/customer/assessments/new?step=choose_tests" class="inline-flex items-center gap-x-1.5 rounded-full bg-blue-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          Create assessment
        </a>
      </div>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-4">
      <!-- Filters -->
      <form>
        <div class="relative rounded-md-sm w-full">
          <input type="text" name="test" id="test" class="block w-full rounded-full py-2.5 pl-5 pr-10 text-gray-800 border border-gray-800 placeholder:text-gray-400 font-medium focus:border focus:border-gray-800 focus:ring-1 focus:ring-inset focus:ring-gray-800 sm:text-sm sm:leading-6" placeholder="Search tests">
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </div>
        </div>

        <h2 class="text-lg font-bold text-black pt-6">Filters</h2>

        <div class="border-b border-gray-200 py-6">
          <h3 class="-my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="flex w-full items-center justify-between py-3 text-sm text-gray-600 hover:text-gray-700" aria-controls="filter-section-0" aria-expanded="false">
              <span class="font-bold text-gray-900">Skills for</span>
              <span class="ml-6 flex items-center">
                <!-- Expand icon, show/hide based on section open state. -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="hidden size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-0">
            <div class="space-y-4">
              <div class="flex items-center">
                <input id="filter-skills-for-0" name="skills-for[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-skills-for-0" class="ml-3 text-sm font-medium text-gray-800">Basic Tech Proficiency <span class="text-gray-500">(13)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-skills-for-1" name="skills-for[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-skills-for-1" class="ml-3 text-sm font-medium text-gray-800">Communication Mastery <span class="text-gray-500">(6)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-skills-for-2" name="skills-for[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-skills-for-2" class="ml-3 text-sm font-medium text-gray-800">Digital Marketing Proficiency <span class="text-gray-500">(24)</span></label>
              </div>
            </div>
          </div>
        </div>

        <div class="border-b border-gray-200 py-6">
          <h3 class="-my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="flex w-full items-center justify-between py-3 text-sm text-gray-600 hover:text-gray-700" aria-controls="filter-section-0" aria-expanded="false">
              <span class="font-bold text-gray-900">Test focus</span>
              <span class="ml-6 flex items-center">
                <!-- Expand icon, show/hide based on section open state. -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="hidden size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-0">
            <div class="space-y-4">
              <div class="flex items-center">
                <input id="filter-test-focus-0" name="test-focus[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-focus-0" class="ml-3 text-sm font-medium text-gray-800">Personality & culture <span class="text-gray-500">(6)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-test-focus-1" name="test-focus[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-focus-1" class="ml-3 text-sm font-medium text-gray-800">Cognitive ability <span class="text-gray-500">(15)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-test-focus-2" name="test-focus[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-focus-2" class="ml-3 text-sm font-medium text-gray-800">Language <span class="text-gray-500">(37)</span></label>
              </div>
            </div>
          </div>
        </div>

        <div class="py-6">
          <h3 class="-my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="flex w-full items-center justify-between py-3 text-sm text-gray-600 hover:text-gray-700" aria-controls="filter-section-0" aria-expanded="false">
              <span class="font-bold text-gray-900">Test duration</span>
              <span class="ml-6 flex items-center">
                <!-- Expand icon, show/hide based on section open state. -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="hidden size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <!-- Collapse icon, show/hide based on section open state. -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-0">
            <div class="space-y-4">
              <div class="flex items-center">
                <input id="filter-test-duration-0" name="test-duration[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-duration-0" class="ml-3 text-sm font-medium text-gray-800">Up to 10 mins <span class="text-gray-500">(363)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-test-duration-1" name="test-duration[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-duration-1" class="ml-3 text-sm font-medium text-gray-800">11-20 mins <span class="text-gray-500">(21)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-test-duration-2" name="test-duration[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-duration-2" class="ml-3 text-sm font-medium text-gray-800">21-30 mins <span class="text-gray-500">(19)</span></label>
              </div>
              <div class="flex items-center">
                <input id="filter-test-duration-3" name="test-duration[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                <label for="filter-test-duration-3" class="ml-3 text-sm font-medium text-gray-800">31-60 mins <span class="text-gray-500">(13)</span></label>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="lg:col-span-3">
        <p class="text-base text-gray-700 font-bold"><%= pluralize(@tests.count, 'test', 'tests') %> available.</p>

        <div class="mt-3 pb-16">
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <% @tests.each do |test| %>
              <div>
                <%= link_to test_path(test), data: { turbo_frame: "modal" } do %>
                  <div class="rounded-xl ring-1 ring-gray-300 hover:ring-gray-900 bg-white px-6 py-5 shadow-sm h-full">
                    <h2 class="text-lg font-bold leading-7 text-slate-900"><%= test.title %></h2>
                    <div class="mt-4 flex items-center flex-wrap gap-3">
                      <p class="rounded-full bg-blue-100 px-2 text-xs font-semibold leading-6 text-gray-900"><%= test.type %></p>
                      <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 1 0 9.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1 1 14.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                        </svg>
                        Free
                      </p>
                      <p class="inline-flex gap-x-2 items-center rounded-full bg-gray-200 px-2 text-xs font-semibold leading-6 text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
                        </svg>
                        Popular
                      </p>
                    </div>

                    <p class="mt-5 text-sm text-gray-800 font-medium"><%= test.overview %></p>
                  
                    <div class="mt-5 flex gap-x-5 gap-y-1 flex-wrap items-center">
                      <div class="flex gap-x-1.5 items-center text-gray-800 text-sm font-medium">
                        <svg class="size-4" width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                          <path d="M9 3.54651V1.54651H15V3.54651H9ZM11 14.5465H13V8.54651H11V14.5465ZM12 22.5465C10.7667 22.5465 9.60417 22.309 8.5125 21.834C7.42083 21.359 6.46667 20.7132 5.65 19.8965C4.83333 19.0798 4.1875 18.1257 3.7125 17.034C3.2375 15.9423 3 14.7798 3 13.5465C3 12.3132 3.2375 11.1507 3.7125 10.059C4.1875 8.96734 4.83333 8.01318 5.65 7.19651C6.46667 6.37984 7.42083 5.73401 8.5125 5.25901C9.60417 4.78401 10.7667 4.54651 12 4.54651C13.0333 4.54651 14.025 4.71318 14.975 5.04651C15.925 5.37984 16.8167 5.86318 17.65 6.49651L19.05 5.09651L20.45 6.49651L19.05 7.89651C19.6833 8.72984 20.1667 9.62151 20.5 10.5715C20.8333 11.5215 21 12.5132 21 13.5465C21 14.7798 20.7625 15.9423 20.2875 17.034C19.8125 18.1257 19.1667 19.0798 18.35 19.8965C17.5333 20.7132 16.5792 21.359 15.4875 21.834C14.3958 22.309 13.2333 22.5465 12 22.5465ZM12 20.5465C13.9333 20.5465 15.5833 19.8632 16.95 18.4965C18.3167 17.1298 19 15.4798 19 13.5465C19 11.6132 18.3167 9.96318 16.95 8.59651C15.5833 7.22984 13.9333 6.54651 12 6.54651C10.0667 6.54651 8.41667 7.22984 7.05 8.59651C5.68333 9.96318 5 11.6132 5 13.5465C5 15.4798 5.68333 17.1298 7.05 18.4965C8.41667 19.8632 10.0667 20.5465 12 20.5465Z" fill="currentColor"></path>
                        </svg>
                        <p>9 mins</p>
                      </div>
                      <div class="flex gap-x-1.5 items-center text-gray-800 text-sm font-medium">
                        <svg class="size-4" width="100%" height="100%" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                          <path d="M14 15.5465C14.2833 15.5465 14.5292 15.4423 14.7375 15.234C14.9458 15.0257 15.05 14.7798 15.05 14.4965C15.05 14.2132 14.9458 13.9673 14.7375 13.759C14.5292 13.5507 14.2833 13.4465 14 13.4465C13.7167 13.4465 13.4708 13.5507 13.2625 13.759C13.0542 13.9673 12.95 14.2132 12.95 14.4965C12.95 14.7798 13.0542 15.0257 13.2625 15.234C13.4708 15.4423 13.7167 15.5465 14 15.5465ZM13.25 12.3465H14.75C14.75 11.8632 14.8 11.509 14.9 11.284C15 11.059 15.2333 10.7632 15.6 10.3965C16.1 9.89651 16.4333 9.49234 16.6 9.18401C16.7667 8.87568 16.85 8.51318 16.85 8.09651C16.85 7.34651 16.5875 6.73401 16.0625 6.25901C15.5375 5.78401 14.85 5.54651 14 5.54651C13.3167 5.54651 12.7208 5.73818 12.2125 6.12151C11.7042 6.50484 11.35 7.01318 11.15 7.64651L12.5 8.19651C12.65 7.77984 12.8542 7.46734 13.1125 7.25901C13.3708 7.05068 13.6667 6.94651 14 6.94651C14.4 6.94651 14.725 7.05901 14.975 7.28401C15.225 7.50901 15.35 7.81318 15.35 8.19651C15.35 8.42984 15.2833 8.65068 15.15 8.85901C15.0167 9.06734 14.7833 9.32984 14.45 9.64651C13.9 10.1298 13.5625 10.509 13.4375 10.784C13.3125 11.059 13.25 11.5798 13.25 12.3465ZM6 18.5465V2.54651H22V18.5465H6ZM8 16.5465H20V4.54651H8V16.5465ZM2 22.5465V6.54651H4V20.5465H18V22.5465H2Z" fill="currentColor"></path>
                        </svg>
                        <p>15 questions</p>
                      </div>
                      <div class="flex gap-x-1.5 items-center text-gray-800 text-sm font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none" fit="" preserveAspectRatio="xMidYMid meet" focusable="false" class="size-4">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.14182 2.45731C4.53022 1.80997 5.4684 1.80997 5.8568 2.45731L7.97371 5.98548C8.37362 6.652 7.89351 7.49998 7.11621 7.49998H2.8824C2.10511 7.49998 1.625 6.652 2.02491 5.98548L4.14182 2.45731ZM7.11621 6.49998L4.99931 2.9718L2.8824 6.49998L7.11621 6.49998ZM9.49951 6.5C9.49951 5.94772 9.94723 5.5 10.4995 5.5H13.4995C14.0518 5.5 14.4995 5.94772 14.4995 6.5V9.5C14.4995 10.0523 14.0518 10.5 13.4995 10.5H10.4995C9.94723 10.5 9.49951 10.0523 9.49951 9.5V6.5ZM13.4995 6.5H10.4995V9.5H13.4995V6.5ZM3.49951 11.5C3.49951 10.3954 4.39494 9.5 5.49951 9.5C6.60408 9.5 7.49951 10.3954 7.49951 11.5C7.49951 12.6046 6.60408 13.5 5.49951 13.5C4.39494 13.5 3.49951 12.6046 3.49951 11.5ZM5.49951 8.5C3.84266 8.5 2.49951 9.84315 2.49951 11.5C2.49951 13.1569 3.84266 14.5 5.49951 14.5C7.15637 14.5 8.49951 13.1569 8.49951 11.5C8.49951 9.84315 7.15637 8.5 5.49951 8.5Z" fill="black"></path>
                        </svg>
                        <p>Multiple choice</p>
                      </div>
                    </div>

                    <div class="mt-7 flex items-center flex-wrap gap-4 -ml-4">
                      <a href="/preview/1" target="_blank" class="secondary-button">Preview</a>
                      <%= link_to "Details", test_path(test), data: { turbo_frame: "modal" }, class: "secondary-button" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
