<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>AssessKit - Ensuring Integrity in Remote Testing</title>
    <%= favicon_link_tag "favicon.png" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= stylesheet_link_tag "https://unpkg.com/survey-core/defaultV2.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/survey-creator-core/survey-creator-core.min.css", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-white flex h-screen flex-col">
    <%= yield %>
  </body>
</html>
