<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>AssessKit - Ensuring Integrity in Remote Testing</title>
    <%= favicon_link_tag "favicon.png" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-white flex flex-col h-screen">
    <%= render NotificationComponent.new(notice:, alert:) %>
    <%= render NavBar::BaseComponent.new(request:, user: current_user) %>
    <%= yield %>
    <%= render FooterComponent.new(request:) %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
