<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title><%= t('.title') %></title>
    <%= favicon_link_tag "favicon.png" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= javascript_tag do %>
      window.I18n = <%= t("javascript").to_json.html_safe %>
    <% end %>
  </head>

  <body class="bg-white flex flex-col h-screen">
    <%= render NotificationComponent.new(notice:, alert:) %>
    <%= render NavBar::BaseComponent.new(current_path: request.path, user: current_user, hide_navbar: @hide_navbar) %>
    <%= yield %>
    <%= render FooterComponent.new(request:) %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
