<!DOCTYPE html>
<html>
  <head>
    <title>Proctor - Ensuring Integrity in Remote Testing</title>
    <%= favicon_link_tag "favicon.png" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- Header -->
    <header class="bg-whit">
      <div class="bg-gray-900 ">
        <div class="mx-auto flex h-10 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8">
          <form class="block flex-1">
            <div class="flex">
              <div class="group relative -ml-2 rounded-md border-transparent bg-gray-900 focus-within:ring-2 focus-within:ring-white">
                <select class="flex items-center rounded-md border-transparent bg-gray-900 bg-none py-0.5 pl-2 pr-5 text-sm font-medium text-white focus:border-transparent focus:outline-none focus:ring-0 group-hover:text-gray-100">
                  <option>EN</option>
                  <option>FR</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 -right-0.5 flex items-center">
                  <svg class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                  </svg>
                </div>
              </div>
            </div>
          </form>

          <div class="flex flex-1 items-center justify-end space-x-6">
            <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Log in</a>
            <a href="#" class="text-sm font-medium text-white hover:text-gray-100">For candidates</a>
          </div>
        </div>
      </div>
      <nav class="mx-auto flex max-w-7xl items-center justify-between gap-x-6 p-6 lg:px-8 " aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <svg width="397.9200073242188" height="134.23689318594438" viewBox="0 0 375.0616113744076 126.52569495756099" class="h-10 w-auto">
              <g id="SvgjsG7782" featurekey="nRdZyp-0" transform="matrix(2.353528625518613,0,0,2.353528625518613,0,-0.18573684770480756)" fill="#2563eb">
                <title xmlns="http://www.w3.org/2000/svg">Asset 42LETTERS4</title>
                <g xmlns="http://www.w3.org/2000/svg" id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-1825.000000, -501.000000)" fill="#2563eb" fill-rule="nonzero">
                    <g id="Asset-42LETTERS4" transform="translate(1825.000000, 501.078910)">
                      <path d="M17.7,0 L15.84,0 C7.09,0 0,7.09 0,15.84 L0,52.76 C8.75,52.76 15.84,45.67 15.84,36.92 L15.84,5.27 C15.84,4.35 16.51,3.52 17.43,3.44 C18.48,3.34 19.37,4.16 19.37,5.2 L19.37,33.01 C19.37,34.24 20.53,35.13 21.72,34.85 C29.48,32.99 35.2400095,26.01 35.2400095,17.68 C35.25,7.95 27.4,0.07 17.7,0 Z" id="Path"></path>
                    </g>
                  </g>
                </g>
              </g>
              <g id="SvgjsG7783" featurekey="Q4qmbg-0" transform="matrix(4.12219603228088,0,0,4.12219603228088,103.54802859963524,-4.009589945492195)" fill="#0F172A">
                <path d="M11.12 15.08 c0 2.92 -1.94 5.08 -4.84 5.08 c-0.6 0 -1.78 -0.36 -2.24 -0.82 l0 5.3 l-2.96 0 l0 -14.52 l2.96 0 l0 0.7 c0.42 -0.5 1.18 -0.84 2.04 -0.84 c2.9 0 5.04 2.18 5.04 5.1 z M8.14 15.08 c0 -1.58 -1.02 -2.86 -2.26 -2.86 c-0.76 0 -1.5 0.56 -1.9 1.36 c-0.18 0.4 -0.32 0.96 -0.32 1.5 c0 0.56 0.12 1.06 0.32 1.48 c0.42 0.82 1.12 1.36 1.9 1.36 c1.24 0 2.26 -1.28 2.26 -2.84 z M18.867708333333333 10.26 l-0.4 2.22 c-0.74 -0.32 -0.88 -0.26 -1.22 -0.26 c-1.2 0 -1.9 0.64 -1.9 2.22 l0 5.56 l-2.96 0 l0 -9.88 l2.96 0 l0 0.88 c0.38 -0.68 1.42 -1.02 2.08 -1.02 c0.62 0 0.98 0.02 1.44 0.28 z M23.935416666666665 12.42 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c1.24 0 2.26 -1.08 2.26 -2.64 c0 -1.58 -1.02 -2.66 -2.26 -2.66 z M23.935416666666665 9.98 c2.9 0 5.22 2.18 5.22 5.1 s-2.32 5.08 -5.22 5.08 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 z M37.263124999999995 16.46 l2.08 1.88 c-1.12 1.24 -2.58 1.82 -4.14 1.82 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 c1.56 0 3.02 0.58 4.14 1.82 l-2.08 1.88 c-0.44 -1.02 -1.4 -1.26 -2.06 -1.26 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c0.66 0 1.64 -0.18 2.06 -1.26 z M44.090833333333336 15.8 c0 0.72 -0.02 1.92 1.08 1.92 c0.54 0 0.88 -0.22 1.26 -0.5 l0 2.44 c-0.46 0.26 -1.02 0.5 -1.62 0.5 c-2.54 0 -3.68 -1.08 -3.68 -4.36 l0 -3.24 l-1.1 0 l0 -2.44 l1.1 0 l0 -2.84 l2.96 0 l0 2.84 l2.34 0 l0 2.44 l-2.34 0 l0 3.24 z M52.938541666666666 12.42 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c1.24 0 2.26 -1.08 2.26 -2.64 c0 -1.58 -1.02 -2.66 -2.26 -2.66 z M52.938541666666666 9.98 c2.9 0 5.22 2.18 5.22 5.1 s-2.32 5.08 -5.22 5.08 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 z M65.86625 10.26 l-0.4 2.22 c-0.74 -0.32 -0.88 -0.26 -1.22 -0.26 c-1.2 0 -1.9 0.64 -1.9 2.22 l0 5.56 l-2.96 0 l0 -9.88 l2.96 0 l0 0.88 c0.38 -0.68 1.42 -1.02 2.08 -1.02 c0.62 0 0.98 0.02 1.44 0.28 z"></path>
              </g>
            </svg>
          </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#features" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
          <a href="#pricing" class="text-sm font-semibold leading-6 text-gray-900">Pricing</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">About Us</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Contact</a>
        </div>
        <div class="flex flex-1 items-center justify-end gap-x-6">
          <a class="hidden group lg:inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none ring-slate-700 text-slate-700 hover:text-slate-900  active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300" variant="outline" color="slate" href="#">Book a demo</a>
          <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600" color="blue" variant="solid" href="/register"><span>Get started <span class="hidden lg:inline">today</span></span></a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div class="lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="hidden fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between gap-x-6">
            <a href="#" class="-m-1.5 p-1.5">
              <svg width="397.9200073242188" height="134.23689318594438" viewBox="0 0 375.0616113744076 126.52569495756099" class="h-10 w-auto">
                <g id="SvgjsG7782" featurekey="nRdZyp-0" transform="matrix(2.353528625518613,0,0,2.353528625518613,0,-0.18573684770480756)" fill="#2563eb">
                  <title xmlns="http://www.w3.org/2000/svg">Asset 42LETTERS4</title>
                  <g xmlns="http://www.w3.org/2000/svg" id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard" transform="translate(-1825.000000, -501.000000)" fill="#2563eb" fill-rule="nonzero">
                      <g id="Asset-42LETTERS4" transform="translate(1825.000000, 501.078910)">
                        <path d="M17.7,0 L15.84,0 C7.09,0 0,7.09 0,15.84 L0,52.76 C8.75,52.76 15.84,45.67 15.84,36.92 L15.84,5.27 C15.84,4.35 16.51,3.52 17.43,3.44 C18.48,3.34 19.37,4.16 19.37,5.2 L19.37,33.01 C19.37,34.24 20.53,35.13 21.72,34.85 C29.48,32.99 35.2400095,26.01 35.2400095,17.68 C35.25,7.95 27.4,0.07 17.7,0 Z" id="Path"></path>
                      </g>
                    </g>
                  </g>
                </g>
                <g id="SvgjsG7783" featurekey="Q4qmbg-0" transform="matrix(4.12219603228088,0,0,4.12219603228088,103.54802859963524,-4.009589945492195)" fill="#0F172A">
                  <path d="M11.12 15.08 c0 2.92 -1.94 5.08 -4.84 5.08 c-0.6 0 -1.78 -0.36 -2.24 -0.82 l0 5.3 l-2.96 0 l0 -14.52 l2.96 0 l0 0.7 c0.42 -0.5 1.18 -0.84 2.04 -0.84 c2.9 0 5.04 2.18 5.04 5.1 z M8.14 15.08 c0 -1.58 -1.02 -2.86 -2.26 -2.86 c-0.76 0 -1.5 0.56 -1.9 1.36 c-0.18 0.4 -0.32 0.96 -0.32 1.5 c0 0.56 0.12 1.06 0.32 1.48 c0.42 0.82 1.12 1.36 1.9 1.36 c1.24 0 2.26 -1.28 2.26 -2.84 z M18.867708333333333 10.26 l-0.4 2.22 c-0.74 -0.32 -0.88 -0.26 -1.22 -0.26 c-1.2 0 -1.9 0.64 -1.9 2.22 l0 5.56 l-2.96 0 l0 -9.88 l2.96 0 l0 0.88 c0.38 -0.68 1.42 -1.02 2.08 -1.02 c0.62 0 0.98 0.02 1.44 0.28 z M23.935416666666665 12.42 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c1.24 0 2.26 -1.08 2.26 -2.64 c0 -1.58 -1.02 -2.66 -2.26 -2.66 z M23.935416666666665 9.98 c2.9 0 5.22 2.18 5.22 5.1 s-2.32 5.08 -5.22 5.08 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 z M37.263124999999995 16.46 l2.08 1.88 c-1.12 1.24 -2.58 1.82 -4.14 1.82 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 c1.56 0 3.02 0.58 4.14 1.82 l-2.08 1.88 c-0.44 -1.02 -1.4 -1.26 -2.06 -1.26 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c0.66 0 1.64 -0.18 2.06 -1.26 z M44.090833333333336 15.8 c0 0.72 -0.02 1.92 1.08 1.92 c0.54 0 0.88 -0.22 1.26 -0.5 l0 2.44 c-0.46 0.26 -1.02 0.5 -1.62 0.5 c-2.54 0 -3.68 -1.08 -3.68 -4.36 l0 -3.24 l-1.1 0 l0 -2.44 l1.1 0 l0 -2.84 l2.96 0 l0 2.84 l2.34 0 l0 2.44 l-2.34 0 l0 3.24 z M52.938541666666666 12.42 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c1.24 0 2.26 -1.08 2.26 -2.64 c0 -1.58 -1.02 -2.66 -2.26 -2.66 z M52.938541666666666 9.98 c2.9 0 5.22 2.18 5.22 5.1 s-2.32 5.08 -5.22 5.08 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 z M65.86625 10.26 l-0.4 2.22 c-0.74 -0.32 -0.88 -0.26 -1.22 -0.26 c-1.2 0 -1.9 0.64 -1.9 2.22 l0 5.56 l-2.96 0 l0 -9.88 l2.96 0 l0 0.88 c0.38 -0.68 1.42 -1.02 2.08 -1.02 c0.62 0 0.98 0.02 1.44 0.28 z"></path>
                </g>
              </svg>
            </a>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Pricing</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">About Us</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact</a>
              </div>
              <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Get started today</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Book a demo</a>
              </div>
              <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">For candidates</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="bg-slate-50">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="py-16">
          <svg width="397.9200073242188" height="134.23689318594438" viewBox="0 0 375.0616113744076 126.52569495756099" class="mx-auto h-10 w-auto">
            <g id="SvgjsG7782" featurekey="nRdZyp-0" transform="matrix(2.353528625518613,0,0,2.353528625518613,0,-0.18573684770480756)" fill="#2563eb">
              <title xmlns="http://www.w3.org/2000/svg">Asset 42LETTERS4</title>
              <g xmlns="http://www.w3.org/2000/svg" id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-1825.000000, -501.000000)" fill="#2563eb" fill-rule="nonzero">
                  <g id="Asset-42LETTERS4" transform="translate(1825.000000, 501.078910)">
                    <path d="M17.7,0 L15.84,0 C7.09,0 0,7.09 0,15.84 L0,52.76 C8.75,52.76 15.84,45.67 15.84,36.92 L15.84,5.27 C15.84,4.35 16.51,3.52 17.43,3.44 C18.48,3.34 19.37,4.16 19.37,5.2 L19.37,33.01 C19.37,34.24 20.53,35.13 21.72,34.85 C29.48,32.99 35.2400095,26.01 35.2400095,17.68 C35.25,7.95 27.4,0.07 17.7,0 Z" id="Path"></path>
                  </g>
                </g>
              </g>
            </g>
            <g id="SvgjsG7783" featurekey="Q4qmbg-0" transform="matrix(4.12219603228088,0,0,4.12219603228088,103.54802859963524,-4.009589945492195)" fill="#0F172A">
              <path d="M11.12 15.08 c0 2.92 -1.94 5.08 -4.84 5.08 c-0.6 0 -1.78 -0.36 -2.24 -0.82 l0 5.3 l-2.96 0 l0 -14.52 l2.96 0 l0 0.7 c0.42 -0.5 1.18 -0.84 2.04 -0.84 c2.9 0 5.04 2.18 5.04 5.1 z M8.14 15.08 c0 -1.58 -1.02 -2.86 -2.26 -2.86 c-0.76 0 -1.5 0.56 -1.9 1.36 c-0.18 0.4 -0.32 0.96 -0.32 1.5 c0 0.56 0.12 1.06 0.32 1.48 c0.42 0.82 1.12 1.36 1.9 1.36 c1.24 0 2.26 -1.28 2.26 -2.84 z M18.867708333333333 10.26 l-0.4 2.22 c-0.74 -0.32 -0.88 -0.26 -1.22 -0.26 c-1.2 0 -1.9 0.64 -1.9 2.22 l0 5.56 l-2.96 0 l0 -9.88 l2.96 0 l0 0.88 c0.38 -0.68 1.42 -1.02 2.08 -1.02 c0.62 0 0.98 0.02 1.44 0.28 z M23.935416666666665 12.42 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c1.24 0 2.26 -1.08 2.26 -2.64 c0 -1.58 -1.02 -2.66 -2.26 -2.66 z M23.935416666666665 9.98 c2.9 0 5.22 2.18 5.22 5.1 s-2.32 5.08 -5.22 5.08 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 z M37.263124999999995 16.46 l2.08 1.88 c-1.12 1.24 -2.58 1.82 -4.14 1.82 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 c1.56 0 3.02 0.58 4.14 1.82 l-2.08 1.88 c-0.44 -1.02 -1.4 -1.26 -2.06 -1.26 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c0.66 0 1.64 -0.18 2.06 -1.26 z M44.090833333333336 15.8 c0 0.72 -0.02 1.92 1.08 1.92 c0.54 0 0.88 -0.22 1.26 -0.5 l0 2.44 c-0.46 0.26 -1.02 0.5 -1.62 0.5 c-2.54 0 -3.68 -1.08 -3.68 -4.36 l0 -3.24 l-1.1 0 l0 -2.44 l1.1 0 l0 -2.84 l2.96 0 l0 2.84 l2.34 0 l0 2.44 l-2.34 0 l0 3.24 z M52.938541666666666 12.42 c-1.22 0 -2.24 1.08 -2.24 2.66 c0 1.56 1.02 2.64 2.24 2.64 c1.24 0 2.26 -1.08 2.26 -2.64 c0 -1.58 -1.02 -2.66 -2.26 -2.66 z M52.938541666666666 9.98 c2.9 0 5.22 2.18 5.22 5.1 s-2.32 5.08 -5.22 5.08 c-2.88 0 -5.2 -2.16 -5.2 -5.08 s2.32 -5.1 5.2 -5.1 z M65.86625 10.26 l-0.4 2.22 c-0.74 -0.32 -0.88 -0.26 -1.22 -0.26 c-1.2 0 -1.9 0.64 -1.9 2.22 l0 5.56 l-2.96 0 l0 -9.88 l2.96 0 l0 0.88 c0.38 -0.68 1.42 -1.02 2.08 -1.02 c0.62 0 0.98 0.02 1.44 0.28 z"></path>
            </g>
          </svg>
          <nav class="mt-10 text-sm" aria-label="quick links">
            <div class="-my-1 flex justify-center gap-x-6">
              <a class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="#features">Features</a>
              <a class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="#pricing">Pricing</a>
              <a class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="#">About Us</a>
              <a class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="#">Contact</a>
            </div>
          </nav>
        </div>
        <div class="flex flex-col items-center border-t border-slate-400/10 py-10 sm:flex-row-reverse sm:justify-between">
          <div class="flex gap-x-6">
            <a class="group" aria-label="Proctor on X" href="#">
              <svg class="h-6 w-6 fill-slate-500 group-hover:fill-slate-700" aria-hidden="true" viewBox="0 0 24 24">
                <path d="M13.3174 10.7749L19.1457 4H17.7646L12.7039 9.88256L8.66193 4H4L10.1122 12.8955L4 20H5.38119L10.7254 13.7878L14.994 20H19.656L13.3171 10.7749H13.3174ZM11.4257 12.9738L10.8064 12.0881L5.87886 5.03974H8.00029L11.9769 10.728L12.5962 11.6137L17.7652 19.0075H15.6438L11.4257 12.9742V12.9738Z"></path>
              </svg>
            </a>
            <a class="group" aria-label="Proctor on GitHub" href="#">
              <svg class="h-6 w-6 fill-slate-500 group-hover:fill-slate-700" aria-hidden="true" viewBox="0 0 24 24">
                <path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0 1 12 6.844a9.59 9.59 0 0 1 2.504.337c1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.02 10.02 0 0 0 22 12.017C22 6.484 17.522 2 12 2Z"></path>
              </svg>
            </a>
          </div>
          <p class="mt-6 text-sm text-slate-500 sm:mt-0">
            Copyright © <!-- -->2024<!-- --> Proctor. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
